Repository ptrvsrg/blockchain-metaverse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-c, test-c, build-java, test-java

.gitlab-ci.yml:

stages:
    - build
    - test

variables:
    MAVEN_REPO_PATH: "$CI_PROJECT_PATH/.m2/repository"
    MAVEN_OPTS: "-Dmaven.repo.local=$MAVEN_REPO_PATH"

cache:
    paths:
        - $MAVEN_REPO_PATH/

# Сборка и тестирование C-модуля

build-c:
    stage: build
    script:
        - mkdir -p game/build
        - cd game/build
        - cmake ..
        - cmake --build .
    artifacts:
        paths:
            - game/build/
        expire_in: 1 week
    only:
        changes:
            - game/**/*

test-c:
    stage: test
    script:
        - cd game/build
        - ctest --verbose
    artifacts:
        paths:
            - game/build/
        expire_in: 1 week
    only:
        changes:
            - game/**/*

# Сборка и тестирование Java-модуля

build-java:
    stage: build
    script:
        - mvn compile $MAVEN_OPTS
    artifacts:
        paths:
            - blockchain/target/
            - game-integration/target/
            - start-menu/target/
        expire_in: 1 week
    only:
        changes:
            - blockchain/**/*
            - game-integration/**/*
            - start-menu/**/*

test-java:
    stage: test
    script:
        - mvn install $MAVEN_OPTS
    artifacts:
        paths:
            - blockchain/target/
            - game-integration/target/
            - start-menu/target/
        expire_in: 1 week
    only:
        changes:
            - blockchain/**/*
            - game-integration/**/*
            - start-menu/**/*

Добавил ;
  contracts/src/main/java/ru/nsu/sberlab/Main.java
Due: none

Создание файлов jar-with-dependences
  contracts/pom.xml
  start-menu/pom.xml
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/view/Main.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/view/StartApplication.java
Due: build-java, test-java

Изменено окно регистрации
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/SignUpController.java
  start-menu/src/main/resources/css/style.css
  start-menu/src/main/resources/fxml/log-in.fxml
  start-menu/src/main/resources/fxml/sign-up.fxml
Due: build-java, test-java

257 deploy contract
  .gitlab-ci.yml
Due: none

aboba
  game/CMakeLists.txt
  game/src/game.h
  game/src/main.c
Due: build-c, test-c

fix bug с названием полей config файла
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/config/ConnectionConfig.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
Due: build-java, test-java

working test
  game/CMakeLists.txt
  game/JNI/PlayerPositionHandler.c
  game/JNI/StartTask.c
  game/src/game.h
  game/src/main.c
Due: build-c, test-c

test 1 - strange things gonna happen
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game/src/main.c
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/config/ConnectionConfig.java
Due: build-c, test-c, build-java, test-java

return bufferization
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/StaticQueuesWrapper.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/TransactionInfo.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CheckTransactionsTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/SendChangesToBlockchainTask.java
Due: build-java, test-java

Установлены стандартные координаты Удалена бесконечная работа потока
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/SendChangesToBlockchainTask.java
Due: build-java, test-java

270 fix environment variable for deploy contracts to main network
  blockchain-integration/src/test/java/ru/nsu/sberlab/blockchain_interaction/MapInteractionTest.java
  contracts/pom.xml
  contracts/src/main/java/ru/nsu/sberlab/contracts/Main.java
Due: none

Изменены значения констант для правильной работы программы
  .gitlab-ci.yml
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/StaticQueuesWrapper.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/SendChangesToBlockchainTask.java
  game/src/game.c
Due: build-c, test-c, build-java, test-java

-game.c
  game/src/game.c
Due: build-c, test-c

Использую аргументы командной строки вместо переменных окружения для деплоя
  .gitlab-ci.yml
  contracts/src/main/java/ru/nsu/sberlab/contracts/Main.java
Due: none

CMakeLists fix
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game/CMakeLists.txt
  game/src/config.h.in
Due: build-c, test-c, build-java, test-java

game bugfix
  game/src/game.c
Due: build-c, test-c

cmake
  game/CMakeLists.txt
Due: build-c, test-c

CMakeLists fixed
  game/CMakeLists.txt
Due: build-c, test-c

fix bag
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/PlayerCoordinates.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
Due: build-java, test-java

config fixes
  game/src/main.c
Due: build-c, test-c

start game fixes
  game/CMakeLists.txt
  game/JNI/StartTask.c
  game/src/game.c
  game/src/game.h
Due: build-c, test-c

Launcher back
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
Due: build-java, test-java

Добавлена функция сохранения данных в стартовом окне
  start-menu/pom.xml
  start-menu/src/main/java/module-info.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/db/DBHandler.java
  start-menu/src/main/resources/css/style.css
  start-menu/src/main/resources/fxml/log-in.fxml
Due: build-java, test-java

Добавлена обработка ошибок в стартовом окне
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/db/DBHandler.java
  start-menu/src/main/resources/css/style.css
  start-menu/src/main/resources/fxml/log-in.fxml
Due: build-java, test-java

удалено логгирование
  game-integration/pom.xml
  game-integration/src/main/java/module-info.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/StaticQueuesWrapper.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/BlockchainDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CheckTransactionsTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/SendChangesToBlockchainTask.java
  start-menu/src/main/java/module-info.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/db/DBHandler.java
Due: build-java, test-java

change requests, add range method in map contract
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/MapInteraction.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/CompilationDeploying.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/MapChangesContract.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/BlockchainDataRequestTask.java
Due: build-java, test-java

286 project building
  .gitignore
  game/CMakeLists.txt
  scripts/build-cygwin.bash
  scripts/build-linux.bash
Due: build-c, test-c

fix bag in contract
  .gitignore
  contracts/src/main/java/ru/nsu/sberlab/contracts/MapChangesContract.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Main.java
Due: build-java, test-java

Удалил мусор
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Main.java
Due: build-java, test-java

Изменил названия библиотек С
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
Due: build-java, test-java

Обновил хэш контракта
  start-menu/src/main/resources/config/connection.properties
Due: build-java, test-java

texture -> textures
  game/CMakeLists.txt
Due: build-c, test-c

minor fix
  scripts/build-cygwin.bash
  scripts/build-linux.bash
Due: none

Перенёс зависимости в дочерний модуль
  blockchain-integration/pom.xml
  pom.xml
Due: none

added batch script fow windows
  scripts/build-cygwin.bat
Due: none

add plugin and correct some methods in coordinates
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchainintegration/utils/BlockCoordinates.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchainintegration/utils/PlayerCoordinates.java
  pom.xml
Due: none

295 add release
  .gitlab-ci.yml
  contracts/pom.xml
Due: none
