Repository ptrvsrg/blockchain-metaverse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-c, test-c, build-java, test-java

build-c:
  stage: build
  script:
  - mkdir -p game/build
  - cd game/build
  - cmake ..
  - cmake --build .
  artifacts:
    paths:
    - game/build/
    expire_in: 1 week

test-c:
  stage: test
  script:
  - cd game/build
  - ctest --verbose
  artifacts:
    paths:
    - game/build/
    expire_in: 1 week

build-java:
  stage: build
  script:
  - mvn compile $MAVEN_OPTS
  artifacts:
    paths:
    - blockchain/target/
    - game-integration/target/
    - start-menu/target/
    expire_in: 1 week

test-java:
  stage: test
  script:
  - mvn install $MAVEN_OPTS
  artifacts:
    paths:
    - blockchain/target/
    - game-integration/target/
    - start-menu/target/
    expire_in: 1 week

Добавил зависимости тестов от сборки
  .gitlab-ci.yml
Due: none

Обновил README
  README.md
Due: none

Из стартового окна запускается игра на си (пока что класс Launcher измене для тестирования работы)
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
  game/src/game.c
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/ConnectionController.java
Due: build-c, test-c, build-java, test-java

Изменено название окна
  game/src/config.h.in
Due: build-c, test-c

Обновлен Gitignore
  .gitignore
Due: none

Обновлены текстуры
  game/texture/texture.png
Due: build-c, test-c

handle_mouse_input + key bindings
  game/src/config.h.in
  game/src/game.c
Due: build-c, test-c

обновлены кнопки
  start-menu/src/main/resources/css/style.css
Due: build-java, test-java

добавлены комментарии к заголовочному файлу
  game/src/db.h
Due: build-c, test-c

fixed library name generation on win
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game/CMakeLists.txt
Due: build-c, test-c, build-java, test-java

input handlers
  game/src/game.c
Due: build-c, test-c

split module, add class for compilation and deploying
  blockchain-integration/.gitignore
  blockchain-integration/pom.xml
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/MapInteraction.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/exception/BlockChainException.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/BlockCoordinates.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/BlockInfo.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/Coordinates.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/NodeInteraction.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/PlayerCoordinates.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/Utils.java
  blockchain-integration/src/test/java/ru/nsu/sberlab/blockchain_interaction/MapInteractionTest.java
  blockchain-integration/src/test/java/ru/nsu/sberlab/blockchain_interaction/UtilsTest.java
  blockchain/pom.xml
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/MapInteraction.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/exception/BlockChainException.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/exception/MapAlreadyExist.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/utils/BlockCoordinates.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/utils/BlockInfo.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/utils/Coordinates.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/utils/NodeInteraction.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/utils/PlayerCoordinates.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/blockchain_interaction/utils/Utils.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/contracts/MapChangesContract.java
  blockchain/src/main/java/ru/nsu/sberlab/blockchain/contracts/PlayerPositionContract.java
  blockchain/src/test/java/ru/nsu/sberlab/blockchain/blockchain_interaction/MapInteractionTest.java
  blockchain/src/test/java/ru/nsu/sberlab/blockchain/blockchain_interaction/UtilsTest.java
  blockchain/src/test/java/ru/nsu/sberlab/blockchain/contracts/MapChangesContractTest.java
  blockchain/src/test/java/ru/nsu/sberlab/blockchain/contracts/PlayerPositionTest.java
  contracts/pom.xml
  contracts/src/main/java/ru/nsu/sberlab/Main.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/CompilationDeploying.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/MapChangesContract.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/MapContractAlreadyExist.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/PlayerPositionContract.java
  contracts/src/main/java/ru/nsu/sberlab/contracts/StateContractAlreadyExist.java
  pom.xml
Due: build-java, test-java

fix tests order
  blockchain-integration/src/test/java/ru/nsu/sberlab/blockchain_interaction/MapInteractionTest.java
Due: none

some docs
  game/src/game.c
  game/src/game.h
  game/src/game_utils.h
Due: build-c, test-c

replace todos with blockchain functions, add queueClosedException
  blockchain-integration/src/main/java/module-info.java
  game-integration/pom.xml
  game-integration/src/main/java/module-info.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/PlayerPositionHandler.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/Block.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/PlayerPosition.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/exception/QueueClosedException.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/BlockchainDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
Due: build-java, test-java

Update pom.xml
  blockchain-integration/pom.xml
Due: none

try to build
  blockchain-integration/pom.xml
  blockchain-integration/src/main/java/module-info.java
  game-integration/pom.xml
  game-integration/src/main/java/module-info.java
Due: build-java, test-java

Update ConnectionController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/ConnectionController.java
Due: build-java, test-java

update pom
  blockchain-integration/pom.xml
  contracts/pom.xml
Due: none

Изменил версию maven-surefire-plugin
  blockchain-integration/pom.xml
Due: none

test version: no playerPosition sync, bugs
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  start-menu/pom.xml
  start-menu/src/main/java/module-info.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/ConnectionController.java
Due: build-java, test-java

change int cords fields to float
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/PlayerCoordinates.java
  blockchain-integration/src/test/java/ru/nsu/sberlab/blockchain_interaction/UtilsTest.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/PlayerPosition.java
Due: build-java, test-java

fix bug with BlockchainDataRequestTsk thread
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/BlockchainDataRequestTask.java
Due: build-java, test-java

StaticQueuesWrapper
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/StaticQueuesWrapper.java
  game/JNI/StaticQueuesWrapper.c
  game/JNI/StaticQueuesWrapper.h
Due: build-c, test-c, build-java, test-java

Обновлен модуль стартового меню для работы с блокчейном (рабочая версия)
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/ConnectionController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/SignUpController.java
  start-menu/src/main/resources/css/style.css
  start-menu/src/main/resources/fxml/connect.fxml
  start-menu/src/main/resources/fxml/log-in.fxml
  start-menu/src/main/resources/fxml/sign-up.fxml
Due: build-java, test-java

added info about previous state of block
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/Block.java
  game/JNI/StaticQueuesWrapper.c
  game/src/game.c
  game/src/sync_queue.h
Due: build-c, test-c, build-java, test-java

Refactoring Убраны лишние кнопки Добавлены комментарии Изменены права доступа к членам класса
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/ConnectionController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/SignUpController.java
  start-menu/src/main/resources/fxml/log-in.fxml
  start-menu/src/main/resources/fxml/sign-up.fxml
Due: build-java, test-java

add non-blocking functions invoke and Task for task cheking
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/MapInteraction.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/NodeInteraction.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/TransactionInfo.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CheckTransactionsTask.java
Due: build-java, test-java

Удалено окно connection
  craft.sqlite
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/ConnectionController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/Controller.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/SignUpController.java
  start-menu/src/main/resources/css/style.css
  start-menu/src/main/resources/fxml/connect.fxml
  start-menu/src/main/resources/fxml/log-in.fxml
  start-menu/src/main/resources/fxml/sign-up.fxml
Due: build-java, test-java

удален нерабочий код
  start-menu/src/main/resources/css/style.css
Due: build-java, test-java

удалена присатвка Lib из названия библиотек
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
Due: build-java, test-java

removed old native functions
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/BlockchainDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
Due: build-java, test-java

fixed bug
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/StaticQueuesWrapper.java
  game/JNI/StartTask.c
  game/JNI/StaticQueuesWrapper.c
  game/JNI/StaticQueuesWrapper.h
  game/src/sync_queue.c
Due: build-c, test-c, build-java, test-java

Добавлена работа с config.properties
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/config/ConnectionConfig.java
  start-menu/src/main/java/ru/nsu/sberlab/startmenu/controller/LogInController.java
  start-menu/src/main/resources/config/connection.properties
Due: build-java, test-java

remove bufferized block sending in blockchain
  blockchain-integration/src/main/java/module-info.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/exception/ApplicationLogError.java
  blockchain-integration/src/main/java/ru/nsu/sberlab/blockchain_interaction/utils/NodeInteraction.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/PlayerPosition.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/BlockchainDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CheckTransactionsTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/StartTask.java
Due: build-java, test-java

Исправил импорты
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/Launcher.java
Due: build-java, test-java

Теперь карта загружается за один кадр
  game/src/game.c
Due: build-c, test-c

add returning of old block if transaction executed with error
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/Block.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/data/TransactionInfo.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CDataRequestTask.java
  game-integration/src/main/java/ru/nsu/sberlab/gameintegration/tasks/CheckTransactionsTask.java
Due: build-java, test-java

Удалил базу данных для кеша
  craft.sqlite
Due: none

add recording hashes to config
  contracts/src/main/java/ru/nsu/sberlab/Main.java
  start-menu/src/main/resources/config/connection.properties
Due: build-java, test-java

Path conditions:
  build-c: any of: game/**/*
  test-c: any of: game/**/*
  build-java: any of: blockchain/**/*, game-integration/**/*, start-menu/**/*
  test-java: any of: blockchain/**/*, game-integration/**/*, start-menu/**/*
